<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="/src/css/style.css">
    
    </style>
</head>
<body>
    <div class="container">
        <div class="about-content">
            <h2>О нас</h2>
            <p>Добро пожаловать в Мой магазин! Мы - увлеченная команда, стремящаяся предложить вам лучшие товары, уделяя особое внимание качеству и удовлетворенности клиентов.</p>
            <p>В Моем магазине мы верим в обеспечение комфортных покупок. Изучите наш разнообразный ассортимент и найдите что-то особенное для каждого случая.</p>
            <p>Спасибо, что выбрали Мой магазин. Хороших покупок!</p>
        </div>
    
        <div class="store-locations">
            <h2>Наши магазины</h2>
            <div class="location">
                <img src="https://placekitten.com/150/150" alt="Store Image">
                <div class="location-details">
                    <h3>1-й Магазин</h3>
                    <p>г.Курск, ул.Челюскинцев 23</p>
                </div>
            </div>
    
            <div class="location">
                <img src="https://placekitten.com/150/151" alt="Store Image">
                <div class="location-details">
                    <h3>2-ой Магазин</h3>
                    <p>г. Орел, ул. Ленина 12б</p>
                </div>
            </div>
            <a href="/" class="btn">Вернуться на главную</a>
    
            <!-- Добавьте дополнительные блоки для других магазинов, если необходимо -->
        </div>
    </div>
</body>
</html>