<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Магазин</title>
</head>
<body>

<header>
    <div class="container">
        <h1>Онлайн магазин</h1>
        <nav>
            <a href="/contact">О нас</a>
        </nav>
        
    </div>
</header>

<div class="container">
    <div class="content">
        <div class="product-cards">
           
        </div>
        <div id="cart-container">
            <h2>Корзина товаров</h2>
            <div id="cart-items"></div>
            <p id="total-price">Итоговая сумма: $0</p>
            <button id="checkout-button" style="display: none;">Оформить</button>
        </div>
    </div>
</div>
   
    
    <script src="/src/js/index.js"></script>
</body>
</html>
    
    
  