<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Магазин</title>
</head>
<body>

<header>
    <div class="container">
        <h1>Онлайн магазин</h1>
        <nav>
            <a href="#">Главная</a>
            <a href="#">Товары</a>
            <a href="#">Контакты</a>
        </nav>
        <div class="cart">
            <a href="#">Cart</a>
        </div>
    </div>
</header>

<div class="container">
    <div class="categories">
        <button class="category-btn">Категория</button>
        <button class="category-btn">Категория</button>
        <button class="category-btn">Категория</button>
    </div>

    <div class="product-cards">
        {product_cards}
    </div>
   
    
</body>
</html>
    
    
  