<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн магазин</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body>
    <div class="card">
        <img src="/src/images/D8puUhOKPdw.png" alt="Product Image">
        <div class="card-content">
            <div class="card-title">Product Title</div>
            <p class="card-description">This is a short description of the product. It can contain additional information.</p>
            <div class="card-price">$19.99</div>
            <a href="#" class="btn">Add to Cart</a>
        </div>
    </div>
</body>
</html>
    
    
  